In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
# import cv2

In [2]:
data = pd.read_csv('labels.csv')
data

                    filepath  xmin  xmax  ymin  ymax
0    ./label_img/Cars213.xml   150   233   160   194
1    ./label_img/Cars207.xml   254   372   229   264
2    ./label_img/Cars398.xml    72   196   139   222
3    ./label_img/Cars367.xml   224   382   161   222
4    ./label_img/Cars401.xml   158   238   223   240
..                       ...   ...   ...   ...   ...
428  ./label_img/Cars418.xml    99   303    70   155
429  ./label_img/Cars395.xml   241   288   182   205
430  ./label_img/Cars381.xml    65   147   131   155
431  ./label_img/Cars222.xml   178   235   158   170
432  ./label_img/Cars236.xml   223   250   106   119

[433 rows x 5 columns]

In [3]:
data.shape

(433, 5)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433 entries, 0 to 432
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filepath  433 non-null    object
 1   xmin      433 non-null    int64
 2   xmax      433 non-null    int64
 3   ymin      433 non-null    int64
 4   ymax      433 non-null    int64
dtypes: int64(4), object(1)
memory usage: 17.0+ KB

In [5]:
data.columns

Index(['filepath', 'xmin', 'xmax', 'ymin', 'ymax'], dtype='object')

In [6]:
data.describe()

             xmin        xmax        ymin        ymax
count  433.000000  433.000000  433.000000  433.000000
mean   165.780600  268.778291  161.870670  198.720554
std     82.698837   92.338181   54.059183   51.698225
min      0.000000   27.000000    5.000000   65.000000
25%    110.000000  218.000000  127.000000  163.000000
50%    156.000000  261.000000  163.000000  195.000000
75%    213.000000  319.000000  192.000000  226.000000
max    541.000000  598.000000  405.000000  439.000000

In [7]:
data.head(5)

                  filepath  xmin  xmax  ymin  ymax
0  ./label_img/Cars213.xml   150   233   160   194
1  ./label_img/Cars207.xml   254   372   229   264
2  ./label_img/Cars398.xml    72   196   139   222
3  ./label_img/Cars367.xml   224   382   161   222
4  ./label_img/Cars401.xml   158   238   223   240